<header class="window-header" (mousedown)="onMouseDown($event)">
    <h2 class="window-title">
      {{ appTitle }}
    </h2>
    <span class="window-control">
      <button class="btn btn-success btn-sm minimize-btn" (click)="minWindow()"><i class="fa fa-minus"></i></button>
      <button class="btn btn-warning btn-sm maximize-btn" (click)="maxWindow()"><i class="fa fa-expand"></i></button>
      <button class="btn btn-danger btn-sm close-window-btn" (click)="closeWindow()"><i class="fa fa-times"></i></button>
    </span>
</header>
<div class='window-body' #windowBody (click)="liftWindow()">
  <ng-content></ng-content>
</div>
