/*:host{

}

.edit-lead-btn i{
  padding:2px 5px;
  border:1px solid #28A745;
  border-radius: 2px;
  color:#28A745;
}

.edit-lead-btn i:hover{
  color:white;
  background-color:#28A745;
}

.delete-lead-btn i{
   padding:2px 5px;
  border:1px solid #DC3545;
  border-radius: 2px;
  color:#DC3545;
}
.delete-lead-btn i:hover{
  color: white;
  background-color:#DC3545;
}

i{
  vertical-align: super;
}
*/

card:hover{
    background-color:#54504f;
    color:white;
}

.listtitle{
  position: absolute;
  background-color:#ffffff;
  top:126px;
  width: 567px;
  border-radius: 2px;
  margin-left:1%;
  z-index:2px;
  font-size: 13px;
  padding: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}
.card-list{
  padding-top: 30px;
  height:600px;
  overflow:scroll;
  overflow-x:hidden;
  margin-top: 132px;
 

}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.company-name{
  margin-left:3%;
}

.industry{
   margin-left:11%;
}

.possibility{
  margin-left:3%;
}

.owner{
   margin-left:4%;
}

.contact{
    margin-left:3%;
}

.usage{
   margin-left:6%;
}


