<lead-info></lead-info>

<!--<lead-list></lead-list>-->

<card  *ngFor="let lead of leadlist">
    <card-header [logoUrl]="'assets/imgs/photo.png'" 
    [title]="lead.company.name" [address]="lead.company.billing_address"
     [industry]="lead.company.industry" [facebook]="" [twitter]="" [phone]="">
     
    <a class="edit-lead-btn" (click)="editLead(lead)"><i class="fa fa-pencil" aria-hidden="true"></i></a><br>  
    <a class="delete-lead-btn" (click)=" deleteLead(lead)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </card-header>
    <!--<card-body (deleteEvent)="deleteCard(lead.id)">
        <card-contact *ngFor="let contact of lead.company.contacts" [name]="contact.first_name" [position]="'Founder\CEO'" [phone]="contact.phone" [email]="contact.email" skype="contact.skype"></card-contact>
    </card-body>-->
</card>
