
<!--<div class="row">

    <div class=" col-md-1">

        <div class="card-logo">
            <img *ngIf="logoUrl" [src]="logoUrl"/>
            <span *ngIf="!logoUrl" class="default-logo">{{title[0]}}</span>
        </div>
    </div>

    <div class="col-md-2">
              <div>
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <span class="company_name"><b>{{title}}</b></span>
              </div>

              <div>
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <span>Expense: 20000</span>
              </div>

              <ng-content></ng-content>
      </div>

  

      <div class="col-md-3">
              <div>
                <i class="fa fa-briefcase"> </i>
                <span>CompanyType: Packing</span>
              </div>

              <div>
                  <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                  <span>www.orcasmart.com</span>
              </div>

              <ng-content></ng-content>
      </div>

      <div class="col-md-2">
              <div>
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Employees: 60</span>
              </div>

              <div>
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <span>Bussiness: 2000</span>
              </div>
              <ng-content></ng-content>
      </div>

      <div class="col-md-3">
              <div>
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span>Contact: Jack</span>
              </div>

              <div>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>Phone: 516-974-8888</span>
              </div>
              <ng-content></ng-content>
      </div>

      <div class="col-md-1">
       <i class="fa fa-pencil"></i><br>
      <i class="fa fa-trash-o"></i>
      </div>



</div>-->



<div class="row">

    <div class=" col-md-1">

        <div class="card-logo">
            <img *ngIf="logoUrl" [src]="logoUrl"/>
            <span *ngIf="!logoUrl" class="default-logo">{{title[0]}}</span>
        </div>
    </div>

    <div class="col-md-3">
              <div>
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <input class="company_name" type="text" >
                <span class="company_name"><b>{{title}}</b></span>
              </div>

              <div>
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <span>Expense: 20000</span>
              </div>

               <div>
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Employees: 60</span>
              </div>

              <ng-content></ng-content>
      </div>

  

      <div class="col-md-4">
              <div>
                <i class="fa fa-briefcase"> </i>
                <span>Company Type: Packing</span>
              </div>

              <div>
                  <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                  <span>www.orcasmart.com</span>
              </div>

               <div>
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <span>Bussiness size: 2000</span>
              </div>
              <ng-content></ng-content>
      </div>


      <div class="col-md-3">
              <div>
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span>Contact: Jack</span>
              </div>

              <div>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>Phone: 516-974-8888</span>
              </div>

              <div>
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  <span>Status: Active</span>
              </div>


              <ng-content></ng-content>
      </div>

      <div class="col-md-1">
        <ng-content></ng-content>
      </div>



</div>



<div class="expand-handler">
  <i class="fa fa-angle-up" *ngIf="isOpen"  (click)="closeHeader()"></i>
  <i class="fa fa-angle-down" *ngIf="!isOpen" (click)="openHeader()"></i>
</div>

