<statusbar></statusbar>
<sidebar></sidebar>
<menubar></menubar>
<div class="fullscreen-btn" toggleFullScreen>
  <svg id="fullscreen-enter" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 18 18"><path d="M4.5 11H3v4h4v-1.5H4.5V11zM3 7h1.5V4.5H7V3H3v4zm10.5 6.5H11V15h4v-4h-1.5v2.5zM11 3v1.5h2.5V7H15V3h-4z"/></svg>
  <svg id="fullscreen-exit" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 18 18"><path d="M3 12.5h2.5V15H7v-4H3v1.5zm2.5-7H3V7h4V3H5.5v2.5zM11 15h1.5v-2.5H15V11h-4v4zm1.5-9.5V3H11v4h4V5.5h-2.5z"/></svg>
</div>
<window [appId]="22" *ngIf="showWindow(22)"><crm></crm></window>
<window [appId]="9" *ngIf="showWindow(9)"><financial></financial></window>
<window [appId]="11" *ngIf="showWindow(11)"><inventory></inventory></window>
<window [appId]="12" *ngIf="showWindow(12)"><lead></lead></window>
<window [appId]="1" *ngIf="showWindow(1)"><account></account></window>
<window [appId]="15" *ngIf="showWindow(15)"><potential></potential></window>
<window [appId]="17" *ngIf="showWindow(17)"><showcase></showcase></window>
