<statusbar></statusbar>
<sidebar></sidebar>
<menubar></menubar>
<window [appId]="22" *ngIf="showWindow(22)"><crm></crm></window>
<window [appId]="9" *ngIf="showWindow(9)"><financial></financial></window>
<window [appId]="11" *ngIf="showWindow(11)"><inventory></inventory></window>
<window [appId]="12" *ngIf="showWindow(12)"><lead></lead></window>
<window [appId]="1" *ngIf="showWindow(1)"><account></account></window>
<window [appId]="15" *ngIf="showWindow(15)"><potential></potential></window>

<window [appId]="17" *ngIf="showWindow(17)"><showcase></showcase></window>
<window [appId]="14" *ngIf="showWindow(14)"><notes></notes></window>

