<div class="potentiallist-header">
        this is potential list
</div>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>

<card>
    <card-body>
        <card-content></card-content>
    </card-body>
</card>
