:host{
    margin-top:5px;
    display:block;
    border: 1px solid #eeeeee;
    height: 60px;
    width: 100%;
    margin-left: 1%;
    background-color:#ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


