:host{
    margin-top:5px;
    display:block;
    border: 1px solid #eeeeee;
    width: 99%;
    margin-left: 1%;
    background-color:#ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: height 0.4s;
    position:relative;

}


/*:host.lead-open{
  height: 300px;
  overflow: scroll;
}*/
