.menu {
  border-radius: 25px;
  background-color: white;
  height: 45px;
  width: 45px;
  margin:0 auto;
  position: relative;
  
}

.menu:hover{
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

img{
    border-radius:50px;
    width:45px;
    height:45px;
}

.option {
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
  

}

.active .option:nth-child(2) {
    top: 60px;
    left: 20px;
    height: 35px;
    width: 35px;
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.active .option:nth-child(3) {
   left: 60px;
   top: 20px;
   height: 20px;
   width: 20px;
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}
.active .option:nth-child(4) {
   left: 60px;
   top: 200px;
   height: 20px;
   width: 20px;
}

.active .option:nth-child(5) {
   left: 80px;
   top: 20px;
   height: 20px;
   width: 20px;
}
.active { 
    background-color: red;
    opacity: 1;

     }


.blue {
   background-color: #669AE1;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
   color: #669AE1;
   text-shadow: none;
}

.green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
   color: #70CC72;
   text-shadow: none;
}

.red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
   color: #FE4365;
   text-shadow: none;
}

.purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
   color: #C49CDE;
   text-shadow: none;
}

.orange {
   background-color: #FC913A;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
   color: #FC913A;
   text-shadow: none;
}

.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
}