.menu {
  border-radius: 25px;
  background-color: white;
  height: 45px;
  width: 45px;
  margin:0 auto;
  position: relative;
  
}

img{
    border-radius:50px;
    width:45px;
    height:45px;
}

.active .ownerlogo {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.option {
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
  text-align:center;
  line-height: 30px;
  -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  

}

.option:hover {
   background: #EEEEEE;
   color: #3290B1;
}

.active .option:nth-child(2) {
    height: 30px;
    width: 30px;
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
   -webkit-transform: translate3d(-6.91639px, -54.99997px, 0);
   transform: translate3d(-6.91639px, -54.99997px, 0);
}
.active .option:nth-child(3) {
   height: 30px;
   width: 30px;
   -webkit-transition-duration: 280ms;
   transition-duration: 280ms;
   -webkit-transform: translate3d(38.9466px, -31.47586px, 0);
   transform: translate3d(38.9466px, -31.47586px, 0);
}
.active .option:nth-child(4) {

   height: 30px;
   width: 30px;
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(38.9466px, 17.47586px, 0);
   transform: translate3d(38.9466px, 17.47586px, 0);

}

.active .option:nth-child(5) {
   height: 30px;
   width: 30px;
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-5.25084px, 40.9997px, 0);
   transform: translate3d(-5.25084px, 40.9997px, 0);
}

.active .option:nth-child(6) {
   height: 30px;
   width: 30px;
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-56.25084px, 18.0003px, 0);
   transform: translate3d(-56.25084px, 18.0003px, 0);
}

.active .option:nth-child(7) {
   height: 30px;
   width: 30px;
    transition-duration: 780ms;
   -webkit-transition-duration: 780ms;
   -webkit-transform: translate3d(-56.03006px, -32.33095px, 0);
   transform: translate3d(-56.03006px, -32.33095px, 0);

}
.active { 
    opacity: 1;

     }


.blue {
   background-color: #669AE1;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
   color: #669AE1;
   text-shadow: none;
}

.green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
   color: #70CC72;
   text-shadow: none;
}

.red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
   color: #FE4365;
   text-shadow: none;
}

.purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
   color: #C49CDE;
   text-shadow: none;
}

.orange {
   background-color: #FC913A;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
   color: #FC913A;
   text-shadow: none;
}

.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
}