<div class="lead-header">
        <div class="company-logo">
            <img [src]="'assets/imgs/company.png'">
            
            <!--<span *ngIf="!logoUrl" class="default-logo"></span>-->
            
        </div>
        <div class="company-name">

            <span class="default-name"><b>{{lead.company.name}}</b></span>
        </div>

        <div class="industry">
            <i class="fa fa-desktop" aria-hidden="true"></i><br>
            <span class="industry-type">{{lead.company.industry}}</span>
        </div>

        <div class="possibility">
            <span class="prossibility-value">{{lead.possibility | percent}}</span><br>
            <span class="progress">
                <span class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
            </span>
        </div>

        <div  class="lead-owner" >
        
            <img [src]="'assets/imgs/head1.ico'" (click)="openCall()" class="menu" ><br>
           
          

            <!--<span class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                
                <label class="menu-open-button" for="menu-open">
                    <img [src]="'assets/imgs/head1.ico'"><br>

                </label>

                <a  class="menu-item blue"> <i class="fa fa-anchor"></i> </a>
                <a  class="menu-item green"> <i class="fa fa-coffee"></i> </a>
                <a  class="menu-item red"> <i class="fa fa-heart"></i> </a>
                <a  class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
                <a  class="menu-item orange"> <i class="fa fa-star"></i> </a>
                <a  class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
            </span>-->
        
            <span *ngIf = "!ownerUrl" class="default-owner">Sam</span>
        </div>

        <div class="lead-owner">
            <img [src]="'assets/imgs/head2.ico'"><br>
            <span *ngIf = "!ownerUrl" class="default-owner">Tom</span>
        </div>

        <div class="lead-balance"> 
        <span class="lead-usage">50,000,000</span><br>


        </div>
</div>

<div class="lead-body">

            <div class="billing-address">
                <span>Billing Address</span><br>
                <span>{{lead.company.billing_address.street}}</span><br>
                {{lead.company.billing_address.city +',' + ' ' + lead.company.billing_address.state +',' + ' ' +lead.company.billing_address.zipcode}}
            </div>

            <div class="shipping-address">
                 <span>Shipping Address</span><br>
                <span>{{lead.company.shipping_address.street}}</span><br>
               <span> {{lead.company.shipping_address.city +',' + ' ' + lead.company.shipping_address.state +',' + ' ' +lead.company.shipping_address.zipcode}}</span>

            </div>

            <div class="lead-company-info">

                    <div class="lead-company-info-item">
                        <label class="lead-body-title">Website: </label>
                        <span class="lead-body-content" *ngIf="!isEditing">{{lead.company.website}}</span>
                        <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.website">
                    </div>

                    <div class="lead-company-info-item">
                        <label class="lead-body-title">sdfs: </label>
                        <span class="lead-body-content" *ngIf="!isEditing">{{lead.company.name}}</span>
                        <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">
                    </div>

                    <div *ngFor="let contact of contacts" class="lead-company-contacts">
                        
                                <div class="lead-company-info-item">
                                    <label class="lead-body-title">Name: </label>
                                    <span class="lead-body-content" *ngIf="!isEditing">{{contact.first_name}}</span>
                                    <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.website">
                                </div>

                                <div class="lead-company-info-item">
                                    <label class="lead-body-title">Phone:</label>
                                    <span class="lead-body-content" *ngIf="!isEditing">{{contact.phone}}</span>
                                    <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">
                                 </div>

                                 <div class="lead-company-info-item">
                                    <label class="lead-body-title">Email: </label>
                                    <span class="lead-body-content" *ngIf="!isEditing">{{contact.email}}</span>
                                    <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.website">
                                </div>

                                <div class="lead-company-info-item">
                                    <label class="lead-body-title">Fax:</label>
                                    <span class="lead-body-content" *ngIf="!isEditing">{{contact.fax}}</span>
                                    <input class="lead-edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">
                                 </div>
                      
                    </div>

                    
            </div>

</div>


