
<div class="company-logo">
    <img [src]="'assets/imgs/company.png'">
    
    <!--<span *ngIf="!logoUrl" class="default-logo"></span>-->
    
</div>
<div class="company-name">
    <span class="default-name"><b>{{lead.company.name}}</b></span>
</div>

<div class="industry">
    <i class="fa fa-desktop" aria-hidden="true"></i><br>
    <span class="industry-type">{{lead.company.industry}}</span>
</div>

<div class="possibility">
    <span class="prossibility-value">{{lead.possibility | percent}}</span><br>
    <span class="progress">
        <span class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
    </span>
</div>

<div  class="lead-owner">
    <!--<img [src]="'assets/imgs/user.png'"><br>-->
     <span class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <img [src]="'assets/imgs/user.png'"><br>

        </label>

        <a  class="menu-item blue"> <i class="fa fa-anchor"></i> </a>
        <a  class="menu-item green"> <i class="fa fa-coffee"></i> </a>
        <a  class="menu-item red"> <i class="fa fa-heart"></i> </a>
        <a  class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
        <a  class="menu-item orange"> <i class="fa fa-star"></i> </a>
        <a  class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
    </span>
  
    <span *ngIf = "!ownerUrl" class="default-owner">Sam</span>
</div>

<div class="lead-owner">
    <img [src]="'assets/imgs/user.png'"><br>
    <span *ngIf = "!ownerUrl" class="default-owner">Tom</span>
</div>

<div class="lead-balance"> 
   <span class="lead-usage">50,000,000</span><br>


</div>


