<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">First name</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-6">
    <label for="name">Last name</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Department</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-6">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-4">
    <label for="name">Email</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-4">
    <label for="name">Phone</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-4">
    <label for="name">Other Phone</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Mobile</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-6">
    <label for="name">Fax</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>

<div class="form-group">
  <label for="name">Birthday</label>
  <input type="text" class="form-control" id="company-name">
</div>

<div class="form-row">
  <div class="form-group col-md-4">
    <label for="name">Assistant</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-4">
    <label for="name">Assistant Phone</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-4">
    <label for="name">Reports To</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Skype</label>
    <input type="text" class="form-control" id="company-name">
  </div>
  <div class="form-group col-md-6">
    <label for="name">Twitter</label>
    <input type="text" class="form-control" id="company-name">
  </div>
</div>
