.icon{
  position: relative;
  display: block;
  cursor: pointer;
}

.icon-img{
  display: block;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-top:14px;
}

.icon-img:hover{
  transform: scale(1.2);
  transition: transform 0.3s;
}

.app-name{
  color: white;
  text-align: center;
  font-size: 13px;
}

.snackbar-item{
  position: relative;
  top: 5px;
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px;
}

.snackbar-item .app-name{
  display: none ;
}

#snackbar .icon-img{
  width: 40px;
  height: 40px;
}
