<!--<div class="container login-form">
  <h2>Login</h2>
  <form name="form" (ngSubmit) = "login()">
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="model.username" name="email" required />
      </div>
      
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="model.password" name="password" required />
      </div>
    </div>

    

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" >Sign in</button>
      </div>
    </div>
  </form>
</div>-->


<form (submit)= "loginUser($event)"> 
  <div class="input">
    <label>Username</label>
    <input type="text" required>
  </div>

  <div class="input">
    <label>Password</label>
    <input type="password" >
  </div>

  <div class="input">
    <input type="submit" value="login">
  </div>

</form>
