<div class="waterfall">
  <div class="waterfall-col">
    <card *ngFor="let account of accountListCol1">
      <card-header [logoUrl]="account.company.logoUrl" [title]="account.company.name" [address]="{state: account.company.billing_address.state, street: account.company.billing_address.street, country: account.company.billing_address.country, city: account.company.billing_address.city}" [industry]="account.company.industry" [facebook]="" [twitter]="" [phone]="">
      </card-header>
      <card-body (deleteEvent)="deleteCard(account.id)">
        <card-contact *ngFor="let contact of account.company.contacts" [name]="contact.first_name" [position]="contact.title" [phone]="" [email]="" skype=""></card-contact>
      </card-body>
    </card>
  </div>
  <div class="waterfall-col">
    <card *ngFor="let account of accountListCol2">
      <card-header [logoUrl]="account.company.logoUrl" [title]="account.company.name" [address]="{state: account.company.billing_address.state, street: account.company.billing_address.street, country: account.company.billing_address.country, city: account.company.billing_address.city}" [industry]="account.company.industry" [facebook]="" [twitter]="" [phone]="">
      </card-header>
      <card-body (deleteEvent)="deleteCard(account.id)">
        <card-contact *ngFor="let contact of account.company.contacts" [name]="contact.first_name" [position]="contact.title" [phone]="" [email]="" skype=""></card-contact>
      </card-body>
    </card>
  </div>
  <div class="waterfall-col">
    <card *ngFor="let account of accountListCol3">
      <card-header [logoUrl]="account.company.logoUrl" [title]="account.company.name" [address]="{state: account.company.billing_address.state, street: account.company.billing_address.street, country: account.company.billing_address.country, city: account.company.billing_address.city}" [industry]="account.company.industry" [facebook]="" [twitter]="" [phone]="">
      </card-header>
      <card-body (deleteEvent)="deleteCard(account.id)">
        <card-contact *ngFor="let contact of account.company.contacts" [name]="contact.first_name" [position]="contact.title" [phone]="" [email]="" skype=""></card-contact>
      </card-body>
    </card>
  </div>
</div>
<add-button></add-button>
