<card *ngFor="let account of accountList">
  <card-header [logoUrl]="account.company.logoUrl" [title]="account.company.name" [address]="{state: account.company.billing_address.state, street: 'asdas', country: 'country', city: 'Hicksville'}" [industry]="'Packaging'" [facebook]="" [twitter]="" [phone]="">
  </card-header>
  <card-body (deleteCard)="deleteCard()">
    <card-contact *ngFor="let contact of account.company.contacts" [name]="'Kenneth Wang'" [position]="'Founder\CEO'" [phone]="" [email]="" skype=""></card-contact>
  </card-body>
</card>
<add-button></add-button>
