:host{
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  transition: height 0.5s;
  padding: 15px;
}

:host.card-body-open{
  height: 400px;
}

.control-panel{
  position: absolute;
  left: 0;
  bottom: 0;
  color: #BEBEBE;
  width: 100%;
  text-align: center;
}

.fa-angle-up{
  cursor: pointer;
}

/*Control Panel*/
.action-dropdown{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 70px;
  height: auto;
  overflow: auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.action-dropdown li{
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.action-dropdown li:hover{
  background-color: #EEEEEE;
}

.fa-ellipsis-h{
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
}

.fa-angle-down{
  cursor: pointer;
}
