<card class="note-actions">
  <div class="subject">
    <h5 class="subject-title">
      Subject:
    </h5>
    <span class="subject-text">
      {{selectedNote?.subject}}
    </span>
  </div>
  <ul class="actions-list">
    <li class="action-item">
      <i class="fa fa-star-o"></i>
    </li>
    <li class="action-item" (click)="deleteNote(selectedNote)">
      <i class="fa fa-trash-o"></i>
    </li>
    <li class="action-item">
      <i class="fa fa-share-square-o"></i>
    </li>
  </ul>
</card>
<card class="note-body">
  <div class="body-content">
    {{selectedNote?.body}}
  </div>
  <div class="note-timestamp">
    <p>
      Create: {{selectedNote?.created_at.date | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}} by {{selectedNote?.create_author.first_name}}{{selectedNote?.create_author.last_name}}
    </p>
    <p>
      Last update: {{selectedNote?.updated_at.date | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}} by {{selectedNote?.update_author.first_name}}{{selectedNote?.update_author.last_name}}
    </p>
  </div>
</card>
