<card class="note-actions">
  <div class="subject">
    <h5 class="subject-title">
      Subject:
    </h5>
    <span class="subject-text">
      {{selectedNote?.subject}}
    </span>
  </div>
  <ul class="actions-list">
    <li class="action-item">
      <i class="fa fa-star-o"></i>
    </li>
    <li class="action-item">
      <i class="fa fa-trash-o"></i>
    </li>
    <li class="action-item">
      <i class="fa fa-share-square-o"></i>
    </li>
  </ul>
</card>
<card class="note-body">
  {{selectedNote?.body}}
</card>
