:host{
  position: absolute;
  z-index: 3;
  left: 0;
  height: 100%;
  min-width: 90px;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  transition: width 0.1s;
}

.statusbar-placeholder{
  display: block;
  position: relative;
  height: 40px;
}

.sidebar-body{
  display: block;
  padding: 10px 20px;
  position: relative;
  height: calc(100% - 40px);
  background-color: rgba(37,37,37,0.8);
}

.sidebar-toggle{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}


/*for toggling the class*/


:host{
  width: 90px;
  transition: 0.2s;
}

:host.isSidebarOpen{
  width: 230px;
}

:host #close-sidebar{
  display: none;
}

:host #open-sidebar{
  display: block;
}

:host.isSidebarOpen #open-sidebar{
  display: none;
}

:host.isSidebarOpen #close-sidebar{
  display: block;
}
