<div class="statusbar-placeholder"></div>
<div class="sidebar-body">
  <span id="close-sidebar" class="sidebar-toggle" (click)= "sidebarClose()"> <i class="fa fa-arrow-left"></i> </span>
  <span id ="open-sidebar" class="sidebar-toggle" (click)="sidebarOpen()"> <i class="fa fa-arrow-right"></i> </span>
  <user *ngIf="isSidebarOpen"></user>
  <tools [apps]="apps"></tools>
  <dashboard *ngIf="isSidebarOpen"></dashboard>
  <alert *ngIf="isSidebarOpen"></alert>
  <news *ngIf="isSidebarOpen"></news>
  <snackbar *ngIf="isSidebarOpen" ></snackbar>
</div>
