
<div class="card-header" [ngClass]="{'card-header-open': cardHeaderIsOpen}">

    <div class="card-logo">
      <img src="assets/imgs/card-logo/orcasmart.png"/>
    </div>
    <div class="header-info">
      <h5 class="header-title">Orcasmart</h5>
      <div class="header-body">
        <div class="header-address">
          <i class="fa fa-map-marker"></i>
          <span>Hicksville, NY</span>
        </div>
        <div class="header-industry">
          <i class="fa fa-briefcase"></i>
          <span>Technology</span>
        </div>
      </div>
    </div>
    <div class="expand-handler">
      <i class="fa fa-angle-up" (click)="closeHeader()"></i>
      <i class="fa fa-angle-down" (click)="openHeader()"></i>
    </div>
</div>
<div class="card-body" [ngClass]="{'card-body-open': cardBodyIsOpen}">
  <div class="control-panel">
    <i class="fa fa-angle-up" (click)="closeBody()"></i>
    <i class="fa fa-angle-down" (click)="openBody()"></i>
    <i class="fa fa-ellipsis-h"></i>
  </div>
</div>

