<div class="warehouse-list">

  <div class="listtitle" >
      <span class="warehouse">Warehouse</span>
  </div>

  <div class="location1">
      <img [src]="'assets/imgs/app-icons/inventory.png'">
    <span class="hicksville-ny">Hicksville NY</span>
  </div>

  <div class="location2">
      <img [src]="'assets/imgs/app-icons/inventory.png'">
      <span class="santa-maria-ca">Santa Maria CA</span>
  </div>

  <div class="location3">
      <img [src]="'assets/imgs/app-icons/inventory.png'">
    <span class="napa-ca">Napa CA</span>
  </div>

  <div class="location4">
      <img [src]="'assets/imgs/app-icons/inventory.png'">
      <span class="lake-elsenor-ca">Lake Elsenor CA</span>
  </div>
</div>
