:host{
    position:relative;
    margin:0;
    padding:0px;
    font-size:13px;
    font:-apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.lead-header{
    width:100%;
    height:61px;
}

div{
    float:left;
    margin-right:2.5%;
}
.company-logo .company-name{
    display:inline;

}

.company-logo{
    padding:9px;
    width:8%;
    height:60px;
}

 .company-logo img{
    position: relative;
    width:40px;
    height:40px;
    background-color:#eeeeee;
    border-radius:50px;
}

.company-name{
    position:relative;
    width:18%;
    line-height: 60px;
    font-size:12px;
}

.default-name{
    display:block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.industry{
    width:10%;
    text-align: center;
    padding: 9px 0;

}

.industry-type{
    font-size:10px;
    display:block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.possibility{
    width:10%;
    text-align: center;
    padding: 7px 0;
}

.progress{
    margin-top:8px;
    width:90%;
}
.progress-bar{
    height: 0.5rem;
}

.lead-owner{
    width:8%;
    text-align: center;
    padding: 6px 0;

}

.lead-owner img{
    width:30px;
    height:30px;
    background-color:#eeeeee;
    border-radius: 50px;
}

.lead-balance{
     width:15%;
     padding: 3px 0;
    
}

.lead-balance span{
    display:inline-block;
    width:90%;
    border: 1px solid #eee; 
}

.lead-usage{
    padding-right:4px;
    margin: 15px 0;
    font-size:12px;
    text-align: right;
}

.lead-function{
    padding: 30px 0;
}

.fa-usd{
    color:orange;
}

.fa-comment{
    color:#007BFF;
}

.fa-phone-square{
    color:#28A745;
}

.fa-book{
    color:saddlebrown;
}

.fa-envelope{
    color:orange;
}

img:hover{
    transform: scale(1.2);
}

.lead-body{
    width:100%;
}

.billing-address{
    margin:0 1%;
    padding:1%;
    width:48%;
    background-color:#ffffff;
    color:#000000;
    border:1px solid #8F9FB7;
    border-radius: 4px;
}

.shipping-address{
    margin:0 1%;
    padding:1%;
    width:48%;
    background-color:#ffffff;
    color:#000000;
    border:1px solid #8F9FB7;
    border-radius: 4px;
}

.lead-company-info{
    width:100%;
    height:200px;

}

.lead-company-info-item{
    margin:6px 1%;
    margin-bottom:-6px;
    width:48%;
    color:#000000;

}

.lead-body-title{
    width: 22%;
    background-color:#007BFF;
    color:#ffffff;
    text-align: center;
    padding:0 1%;
    border-radius: 3px;


}

.lead-body-bar{
    text-align: right;
    padding-right:1%;
    margin:0 1%;
    width:98%;
    height:30px;
    border-radius: 4px;
    background-color:white;
    margin-bottom:5px ;
    line-height: 26px;

}


.lead-body-content{
    display:inline-block;
    width:76%;
    background-color:#ffffff;
    padding:0 2%;
    border-radius: 3px;
    border:1px solid #8F9FB7;
}

.lead-company-contacts{
    width:100%;
    
}

.lead-edit-input{
    display:inline-block;
    width:76%;
    background-color:#eeeeee;
    padding:0 2%;
    border-radius: 3px;
    border:1px solid #8F9FB7;
}


/*//////*/
.menu {
  border-radius: 25px;
  background-color: white;
  height: 30px;
  width: 30px;
  margin:0 auto;
  position: relative;
  
}

img{
    border-radius:50px;
    width:30px;
    height:30px;
}

.active .ownerlogo {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.option {
  border-radius: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0;
  text-align:center;
  line-height: 30px;
  -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   /*-webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;*/
  

}

.option:hover {
   background: #EEEEEE;
   color: #3290B1;
}

/*.active .option:nth-child(2) {
    height: 30px;
    width: 30px;
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
   -webkit-transform: translate3d(-6.91639px, -54.99997px, 0);
   transform: translate3d(-6.91639px, -54.99997px, 0);
}
.active .option:nth-child(3) {
   height: 30px;
   width: 30px;
   -webkit-transition-duration: 280ms;
   transition-duration: 280ms;
   -webkit-transform: translate3d(38.9466px, -31.47586px, 0);
   transform: translate3d(38.9466px, -31.47586px, 0);
}*/
.active .option:nth-child(2) {

   height: 30px;
   width: 30px;
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(25.9466px, 19.47586px, 00);
   transform: translate3d(25.9466px, 19.47586px, 0);

}

.active .option:nth-child(3) {
   height: 30px;
   width: 30px;
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-14.25084px, 19.9997px, 0);
   transform: translate3d(-14.25084px, 19.9997px, 0);
}

.active .option:nth-child(4) {
   height: 30px;
   width: 30px;
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-54.25084px, 20.0003px, 0);
   transform: translate3d(-54.25084px, 20.0003px, 0);
}

/*.active .option:nth-child(7) {
   height: 30px;
   width: 30px;
    transition-duration: 780ms;
   -webkit-transition-duration: 780ms;
   -webkit-transform: translate3d(-56.03006px, -32.33095px, 0);
   transform: translate3d(-56.03006px, -32.33095px, 0);

}*/
.active { 
    opacity: 1;

     }


.blue {
   background-color: #669AE1;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
   color: #669AE1;
   text-shadow: none;
}

.green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
   color: #70CC72;
   text-shadow: none;
}

.red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
   color: #FE4365 !important;
   text-shadow: none;
}

.purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
   color: #C49CDE !important;
   text-shadow: none;
}

.orange {
   background-color: #FC913A;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
   color: #FC913A !important;
   text-shadow: none;
}

.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
}


























