
<span *ngIf="add_lead_value== false" class="btn btn-primary" (click)='add_lead()'>+</span>
<span *ngIf="add_lead_value== true" class="btn btn-primary" (click)='save_lead()' >Save</span>
<span *ngIf="add_lead_value== true"  class="btn btn-primary"  (click)='cancel_lead()'>Cancel</span>
<button *ngIf="box_selected == true;" type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button>
<add-lead *ngIf="add_lead_value== true"></add-lead> 
<button *ngIf="add_lead_value== false" (click)="toggleMasonry()">style</button>


<div *ngIf="add_lead_value==false">

    <div class="masonry" *ngIf = "masonry == true">
    <div class="item">
      <card headerColor="#ef5350" [company]="company"></card>
    </div>
    <div class="item">
      <card headerColor="#009688" [company]="company"></card>
    </div>
    <div class="item">
      <card headerColor="#3F51B5" [company]="company"></card>
    </div>

</div>


<div *ngIf = "masonry == false">
    <div *ngIf="add_lead_value==false" >

            <h3>Lead</h3>

            <table class="table">
            <thead>
                <tr>
                <th>#</th>
                <th>Company Name</th>
                <th>Website</th>
                <th>employees</th>
                <th>ratin</th>
                <th>Quotes</th>
                <th>Projects</th>
                <th>More Info</th>
                <th>Edit</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leadlist of leadlists let i = index">
                <td scope="row">{{i}}</td>
                <td>{{leadlist.name}}</td>
                <td>{{leadlistwebsite}}</td>
                <td>{{leadlistemployees}}</td>
                <td>{{leadlist.industry}}</td>
                <td>{{leadlist.tier}}</td>
                <td>{{leadlist.source}}</td>
                

                <!--<td>{{leadlist.company.name}}</td>
                <td>{{leadlist.company.website}}</td>
                <td>{{leadlist.company.employees}}</td>
                <td>{{leadlist.user.industry}}</td>
                <td>{{leadlist.user.tier}}</td>
                <td>{{leadlist.source}}</td>-->
                <td><button type="button" class="btn btn-outline-primary btn-sm" ><i class="fa fa-caret-down"></i></button></td>
                <td><button type="button" class="btn btn-outline-success btn-sm"  (click)="editLead(leadlist)"><i class="fa fa-pencil"></i></button></td>
                <td><button  type="button" class="btn btn-outline-danger btn-sm" (click)="deleteLead(i)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            </tbody>
            </table>

    </div> 
</div>


<div *ngIf="selectedLead">{{selectedLead.name}}</div>





<add-lead *ngIf="selectedLead"></add-lead>