:host{
  /*display: inline-block;*/
  width: 100%;
  position:relative;
}

table th,td {
    text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #E0E0E0 !important;
}

th {
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #E0E0E0 !important;
  border-top: 1px solid #E0E0E0 !important;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

td {
  white-space: nowrap;
  overflow: hidden;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.check-box{
  width: 50px;
}

.edit-btn{
  width: 60px;
}



.masonry{

  display: flex; 
  flex-flow: row wrap;
  width: 100%;
  height: 800px;


}

.item{
  break-inside: avoid;
  box-sizing:border-box;
  padding:10px;
}
