<span *ngIf="add_lead_value== false" class="btn btn-primary add_lead_button" (click)='add_lead()'>+</span>
<span *ngIf="add_lead_value== true" class="btn btn-primary add_lead_button" (click)='save_lead()'>Save</span>
<span *ngIf="add_lead_value== true" class="btn btn-primary add_lead_button" (click)='cancel_lead()'>Cancel</span>
<add-lead *ngIf="add_lead_value== true"></add-lead>

<div *ngIf="add_lead_value==false">
        <h3>Lead</h3>

        <table class="table">
        <thead>
            <tr>
            <th>#</th> 
            <th>Company Name</th>
            <th>Contact</th>
            <th>Lead Status</th>
            <th>Lead Source</th>
            <th>Quotes</th>
            <th>Projects</th>
            <th>More Info</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leadlist of leadlists let i = index">
            <th scope="row">{{i}}</th>
            <td>{{leadlist.company_name}}</td>
            <td>{{leadlist.contact}}</td>
            <td>{{leadlist.lead_status}}</td>
            <td>{{leadlist.lead_source}}</td>
            <td>{{leadlist.quotes}}</td>
            <td>{{leadlist.project}}</td>
            <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-caret-down"></i></button></td>
            <td><button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil"></i></button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        
        
        </tbody>
        </table>
</div>
