<h3 class="display-4">Task</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Employees</th>
      <th>Rating</th>
      <th>Industry</th>
      <th>Tire</th>
      <th>Annual Revenue</th>
      <th>More Info</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Convert to</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-caret-down"></i></button></td>
      <td><button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil"></i></button></td>
      <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
      <td>
        <select class="custom-select">
          <option selected>None</option>
          <option value="1">Lead</option>
          <option value="2">Account</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-caret-down"></i></button></td>
      <td><button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil"></i></button></td>
      <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
      <td>
        <select class="custom-select">
          <option selected>None</option>
          <option value="1">Lead</option>
          <option value="2">Account</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-caret-down"></i></button></td>
      <td><button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-pencil"></i></button></td>
      <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
      <td>
        <select class="custom-select">
          <option selected>None</option>
          <option value="1">Lead</option>
          <option value="2">Account</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
