<card>
  <card-header [logoUrl]="'assets/imgs/logos/orcasmart.png'" [title]="'Glopak'" [address]="{state: 'NY', street: 'asdas', country: 'country', city: 'Hicksville'}" [industry]="'Packaging'" [facebook]="" [twitter]="" [phone]="">
  </card-header>
  <card-body (deleteCard)="deleteCard()">
    <card-contact [name]="'Kenneth Wang'" [position]="'Founder\CEO'" [phone]="" [email]="" skype=""></card-contact>
    <card-contact [name]="'Jack'" [position]="'Founder\CEO'" [phone]="" [email]="" skype=""></card-contact>
  </card-body>
</card>
<add-button></add-button>
