form{
    margin:10px 20px;
}
.head_title{
    margin:4px;
    text-align: center;
    color: lightskyblue;
}

.subhead_title{
    color:lightskyblue;
    margin-bottom: 10px;
}

.contact_part{
    margin-top: 20px;
}