
<h3 class="add_lead_title">Add Lead</h3>
<form [formGroup]= "myForm" (ngSubmit)= "onSubmit(myForm)" >
    
    <div formGroupName= "t_company">
        <h5 class="subhead_title">Company Information</h5>
        <div class="row">
                <div class="form-group col-md-6">
                    <label>Company Name</label>
                    <input type="text" class="form-control" formControlName="company_name" name="company_name" >
                </div>

                <div class="form-group col-md-3">
                    <label>Tier</label>
                    <input type="text" class="form-control" formControlName="tier" >
                </div>

                <div class="form-group col-md-3">
                    <label>Rating</label>
                    <input type="text" class="form-control" formControlName="rating" >
                </div>

                
        </div>

        <div class="row">

                <div class="form-group col-md-6">
                        <label>Website</label>
                        <input type="text" class="form-control" formControlName="website" name="website" >
                </div>

                <div class="form-group col-md-6">
                    <label>Annual Revenue</label>
                    <input type="text" class="form-control" formControlName="annual_revenue" name="annual_revenue" >
                </div> 
        </div>

        <div class="row">
                <div class="form-group col-md-6">
                    <label>No. of Employees</label>
                    <input type="text" class="form-control" formControlName="employees" name="employees" >
                </div>

                <div class="form-group col-md-3">
                    <label>Industry</label>
                    <input type="text" class="form-control" formControlName="industry" >
                </div>

                <div class="form-group col-md-3">
                    <label>Sub-Industry</label>
                    <input type="text" class="form-control" formControlName="sub_industry" >
                </div>
        </div>
    </div>

    <div formGroupName= "t_lead">
        <div class="row">
            <div class="form-group col-md-3">
                <label>Customer Type</label>
                <input type="text" class="form-control" formControlName="customer_type">
            </div>

            <div class="form-group col-md-3">
                <label>Lead Status</label>
                <input type="text" class="form-control" formControlName="lead_status">
            </div>

            <div class="form-group col-md-6">
                <label>Lead Source</label>
                <input type="text" class="form-control" formControlName="lead_source">
            </div>

        </div>

    </div>

    <hr>

    <h5 class="subhead_title">Addresses</h5><br>


    <div class="row">
        <h6>Shipping Address</h6>
        <div class="col-md-6">
            <div formGroupName= "shipping_address">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street">

            </div>
        </div>

        <div class="col-md-6">
        <h6>Billing Address</h6>
            <div formGroupName= "billing_address">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street">

            </div>
        </div>
    </div>

    <div formArrayName="contacts">
        <div *ngFor = 'let contact of myForm.controls.contacts.controls;  let i = index ' class="card card-default" >
                <div class="card-header ">
                    <h5>Contact {{i + 1}}</h5>
                    <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.contacts.controls.length > 1" (click)="removeContact(i)">X</span>
                </div>

                <div class="card-body" [formGroupName]="i">
                    <div class="form-group">
                        <label>FirstName</label>
                        <input type="text" formControlName="firstname">
                    </div>

                    <div class="form-group">
                        <label>LastName</label>
                        <input type="text" formControlName="lastname">
                    </div>
                </div>

        </div>
        
    </div>

    <div class="">
        <a (click)="addContact()" >Add Anthor Contact</a>
    </div>





    <button type="submit" class="btn btn-primary" >Submit</button>
</form>

<pre>{{myForm.value | json }}</pre>

