<h5 class="head_title">Add New Lead</h5>
<div  class="company_part">
    <h6 class="subhead_title">Company Information</h6>
    <form (ngSubmit)="onSubmit()" >
      <div class="row">

          <div class="from-group col-md-3" >
             <label>Company Name</label><br>
             <input type="text" class="from-control">
          </div>

          <div class="col-md-3">
             <label>Website</label><br>
             <input type="text">
          </div>


          <div class="col-md-3">
             <label>Annual Revenue</label><br>
             <input type="text">
          </div>

          <div class="col-md-3">
             <label>No.of Employees</label><br>
             <input type="text">
          </div>

      </div>



      <button type= "submit" class="btn btn-primary">Submit</button>

    </form>
</div>
