<h1>OrcaSmart</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="email" class="form-control" [ngClass]="isValid('email') ? 'is-valid' : 'is-invalid'" name="Email" placeholder="Email" formControlName="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="isValid('password') ? 'is-valid' : 'is-invalid'" placeholder="Password" formControlName="password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" [ngClass]="isValid('passwordConfirm') ? 'is-valid' : 'is-invalid'" placeholder="Confirm Password" formControlName="passwordConfirm">
  </div>
  <br>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </div>
</form>
