<div class = "container">
  <h1>OrcaSmart</h1>
  <br>
  <form  #signupForm (submit)= "signupUser(signupForm.value)"> 
    <div class="input">
      <!-- <label>Username</label> -->
      <input type="text" class="form-control form-control-lg" name="Username" placeholder="Username" ngModel  required>
    </div>

    <!-- <div class="input">
      <input type="text" class="form-control form-control-lg" name="Email" placeholder="Email" ngModel  required>
    </div> -->

    <div class="input">
      <!-- <label>Password</label> -->
      <input type="password" class="form-control form-control-lg" name="password" placeholder="Password" ngModel required >
    </div>
    <br>

    <div class="input">
      <input type="submit" class="form-control btn btn-primary" value="signup">
    </div>
    <br>
    <div class="agreement">
      <p> By clicking signup, you agree</p>
    </div>

  </form>
</div>
