:host{
  position: absolute;
  z-index: 3;
  left: 0;
  height: 100%;
  min-width: 90px;
  overflow: hidden;
  background-color: rgba(37,37,37,0.8);
  border-radius: 0 5px 5px 0;
  transition: width 0.1s;
}

.sidebar-toggle{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

