<ng-content></ng-content>
<div class="control-panel">
  <i class="fa fa-angle-up" *ngIf="isOpen" (click)="closeBody()"></i>
  <i class="fa fa-angle-down" *ngIf="!isOpen" (click)="openBody()"></i>
  
  <i class="fa fa-ellipsis-h" (click)="openActionPanel()"></i>
  <div class="action-dropdown" *ngIf="actionPanelIsOpen">
    <ul>
      <li><a style="color: #3F51B5">Detail</a></li>
      <li (click)="onEdit" style="border-top: 1px solid #ECECEC; border-bottom: 1px solid #ECECEC"><a style="color: #009688">Edit</a></li>
      <li (click)="onDelete($event)"><a style="color: #ef5350">Delete</a></li>
    </ul>
  </div>
</div>
