<div id="snackbar">
    <div class="snackbar-nav left">
    <
    </div>
    <ul class="snackbar-list">
        <li *ngFor =" let app of apps" class="snackbar-item">
             
          <div class="icon app" id="company" >
          <a href=""> <img [attr.src]="snackapp.imageurl" class="icon-img" alt="icon"></a>
          <h5 class="app-name" style="color:white">{{snackapp.name}}</h5>
          </div>
     
        </li>
        
    </ul>
    <div class="snackbar-nav right">
    >
    </div>
</div>