:host{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 10%;
  background-color: rgba(37,37,37,0.8);
  opacity: 1;
  transition: opacity, 1s;
}

.sidebar-close > #snackbar{
  display: none;
  opacity: 0;
}

.snackbar-list{
  position: relative;
  display: inline-block;
  max-height: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}



.snackbar-nav{
  position: absolute;
  top: 15px;
  color: white;
  cursor: pointer;
}

.snackbar-nav.left{
  left: 10px;
}

.snackbar-nav.right{
  right: 10px;
}
