<div  class="details-header">
    <!--<div *ngIf="lead">
        <button *ngIf="!isEditing" class="btn btn-sm btn-outline-success" (click)="onEdit(lead)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button *ngIf="isEditing" class="btn btn-sm btn-outline-primary" (click)="onCancel(lead)"><i class="fa fa-times" aria-hidden="true"></i></button>
        <button *ngIf="isEditing" class="btn btn-sm btn-outline-success" (click)="onSave(lead)"><i class="fa fa-check" aria-hidden="true"></i></button>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(lead)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <hr>

        
        <div class=" company-name">
           <label class="info-title">Company Name </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.company.name}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">

            <label class="info-title">Website </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.company.website}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.website"><br>
        </div>
        <div class="company-industry">
            <label class="info-title">Industry </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.company.industry}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.industry">

            <label class="info-title">Employees </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.company.employees}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.employees"><br>
        </div>
        <div class="company-status">
            <label class="info-title">Status </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.status}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.status">

            <label class="info-title">Annual Revenue </label>
            <span class="name-content" *ngIf="!isEditing">{{lead.company.annual_revenue}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="lead.company.annual_revenue">
        </div>
        <div *ngFor ="let contact of contacts">
            
           <div class="lead-contact">
               
            <label class="info-title">Contact Name </label>
            <span class="name-content" *ngIf="!isEditing">{{contact.first_name}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="contact.first_name">

            <label class="info-title">Contact Number </label>
            <span class="name-content" *ngIf="!isEditing">{{contact.phone}}</span>
            <input class="edit-input" type="text" *ngIf="isEditing" [(ngModel)]="contact.phone">
           </div>

        </div>
    
    </div>-->
    <div class="details-header-bar">
        <div class="details-header-bar-title"><b>Note</b></div>
            <button>sd</button>
    </div>

    <div *ngIf="lead">
        <ng-content></ng-content>
    </div>

</div>

<div  class="details-body" (click)="detailClick(lead)">
  
    <div *ngIf="lead">
        
    </div>

</div>
