<div  class="details-header">
    <div *ngIf="lead">
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(lead)">Delete</button>
        <button *ngIf="!isEditing" class="btn btn-sm btn-outline-success" (click)="onEdit(lead)">Edit</button>
        <button *ngIf="isEditing" class="btn btn-sm btn-outline-primary" (click)="onCancel(lead)">Cancel</button>
        <button *ngIf="isEditing" class="btn btn-sm btn-outline-success" (click)="onSave(lead)">Save</button><br>

        <span class="info-title">Name </span>
        <span class="name-content" *ngIf="!isEditing">{{lead.company.name}}</span>
        <input type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">

    </div>
</div>

<div  class="details-body" (click)="detailClick(lead)">
  
    <div *ngIf="lead">

        
       <span>Notice :</span> 
       <span class="name-content" *ngIf="!isEditing">{{lead.company.name}}</span>
       <input type="text" *ngIf="isEditing" [(ngModel)]="lead.company.name">
    </div>





</div>