:host {
    position: absolute;
    right: 1%;
    top: 53px;
    display: block;
    width: 42%;
    font-size:13px;
    color: #fff;
    height:89%;
}

.details-header{
    background-color:#54504f;
    height:80%;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.details-body{
    background-color:#54504f;
    margin-top:10px;
    height:18%;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info-title{
  
    display:inline-block;
    background-color:#476da5;
    border-radius: 3px; 
    height:21px;
    vertical-align: center;
    padding:0 3px;  
}
.name-content{
    margin-left:-3px;
    height:21px;
    display:inline-block;
    vertical-align: top;
    padding-left:3px;
    background-color:white;
    color:#000000;
    width:25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.company-name {
    /*border:1px solid red;*/
    /*display:inline-block;*/
}
.edit-input{
    width:25%;
    height: 21px;
    margin-left:-3px;
    padding-left:3px;
    
}
hr{
    margin:3px;
}

.details-header-bar{
    background-color:#ffffff;
    width:100%;
    height:44px;
    color:#666666;
}

.details-header-bar-title{
    text-align: center;
    height:20px;


}

.details-header-actions li{
    /*display:inline-block;*/
    float:left;
}
.details-header-bar-icon{
    height:24px;
    width:100%;
}


.details-header-bar-icon i{
    margin:0 4px;
    padding:2px;
}

.fa{
  padding: 0 3px;
  cursor: pointer;
}

.fa-camera{
    color:black;
}

.fa-microphone{
    color:#a6a6a6;
}

.fa-envelope-o{
    color:#885418;
}

.fa-address-book-o{
    color:#88AEE8;
}

.add-note{
    float: right;
    margin-right:4px;
    color:dodgerblue;
}

.lead-showcase-title{
    width:100%;
    height:20px;
    background-color:white;
    color:#666666;
    text-align:center;
}

.lead-showcase-body{
    padding:0 5px;
    width:100%;
    line-height:75px;
    vertical-align: middle;
    text-align: center;
    position:relative;

} 

.lead-showcase-body img{

    width:55px;
    height:55px;
    background-color:#ffffff;
    border-radius: 4px;
}
.ead-showcase-itemlist{
    overflow:hidden;
    display:inline-block;
}

.lead-showcase-itemlist li{
     display:inline;
     margin:0 3px;
}

.left-arrow{
    position:absolute;
    top:0px;
    left:2px;
    padding:0 4px;
    
}

.right-arrow{
    position:absolute;
    top:0px;
    right:2px;
    padding:0 4px;
    
}

.add-showcase-bottle {
    padding:0 4px;
    float: right;
    color:dodgerblue;
}
/*///////*/
