:host{
    margin-left:2%;
    border:1px solid gray;
    display:block;
    height: 34px;
    width:96%;
    background-color:white;
    color:gray;
    border-radius: 4px;

}
label{
    font-size:14px;
}

span{
    float:right;
}