
<div class="note-header">
        <span class="subject-title">Subject:</span>
        <span class="subject-content">Interset doing Business</span>
        <span class="note-itme-actions">
            <a class="note-edit" (click)="editNote(lead)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a classs="note-delete" (click)="deleteNote(lead)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </span>
</div>

<div class="note-body">
   <span class="note-title"> Phone Call</span>
   <span class="note-content"> Rounded Wine Bottle</span>
</div>

<div class="expand-handler">
  <i class="fa fa-angle-up" *ngIf="isOpen"  (click)="closeHeader()"></i>
  <i class="fa fa-angle-down" *ngIf="!isOpen" (click)="openHeader()"></i>
</div>