<navbar>
    <div class="lead-search-box">
        <input type="text" placeholder="Search a lead" aria-label="Search" class="lead-input">
        <input type="button" value="search" class="btn btn-sm btn-primary search-btn">
    </div>
</navbar>
<add-lead *ngIf="add_lead_value==true"></add-lead>

<lead-list></lead-list>

<add-button (click)="openModal()" [modalOpen]="modalOpen"></add-button>
<modal (requestCloseModal)="closeModal()" *ngIf="modalOpen" >
  <add-lead (requestCloseModal)="closeModal()"></add-lead>
</modal>
