:host{
  display: block;
  width: 100%;
}

.add_lead_btn{
  position: absolute;
  top: 20px;
  right: 20px;
}
.lead_header{
  text-align: center;
  margin-top: 30px;
}

.edit-btn{
  width: 60px;
}

card{
    float: left;
    margin: 3px 22px;
    height: auto;

}
