<page-header [title]="'Account'"></page-header>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Edit</th>
      <th>Account Number</th>
      <th>Sic Code</th>
      <th>Type</th>
      <th>Ownership</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <tr table-row *ngFor="let account of accountList">
    <tr *ngFor="let account of accountList">
      <td scope="row"><input type="checkbox"></td>
      <td><a><i class="fa fa-pencil"></i></a></td>
      <td>{{account.account_number}}</td>
      <td>{{account.sic_code}}</td>
      <td>{{account.type}}</td>
      <td><a>{{account.ownership.username}}</a></td>
      <td><a>{{account.company.name}}</a></td>
    </tr>
  </tbody>
</table>
