:host{
    line-height: 1;
    
}

ul {
    margin-top:45px;
}
ul li {
    float: left;
    content:justify;
    width: 14%;
}

.lead-info-box{

    margin:18px auto;
    border-radius: 100px;
    height: 74px;
    width: 120px;
    background-color:#007BFF;
    text-align: center;
}
.lead_value{
    padding:8px;
    padding-top:3px;
    color:white;
    font-size: 40px;
}

.lead_role{
    font-size:14px;
    color: white;
}