
<div class="row ">
    <div class="col-md-2">
        <div class="lead-info-box">
            <div class="lead_value">34</div>
            <div class="lead_role">new leads</div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="lead-info-box">
            <div class="lead_value">3454</div>
            <div class="lead_role">total leads</div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="lead-info-box">
            <div class="lead_value">12</div>
            <div class="lead_role">open roles</div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="lead-info-box">
            <div class="lead_value">5</div>
            <div class="lead_role">sui leads</div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="lead-info-box">
            <div class="lead_value">4</div>
            <div class="lead_role">recent hires</div>

        </div>
    </div>

    <div class="col-md-2">
        <div class="lead-info-box">
           <div class="lead_value">434</div>
            <div class="lead_role">more</div>

        </div>
    </div>
</div>