:host{
    position:absolute;
    margin-top:19px;
    line-height: 1; 
    height: 90px;
    width: 567px;
    margin-left:1%;
    display:block;
    z-index:2;
}

ul {
 
    height: 90px;
}
ul li {
    float: left;
    content:justify;
    width: 20%;
    margin-right:37px;
}

ul li:nth-child(4){
    margin-right:0px;
}

.lead-info-box{
    margin:15px auto;
    height: 56px;
    width: 110px;
    background-color:#007BFF;
    text-align: center;
}
.lead_value{

    padding-top:6px;
    color:white;
    font-size: 25px;
}

.lead_role{
    margin-top: 2px;
    font-size:13px;
    color: white;
}