:host{
    margin-top:60px;
    line-height: 1; 
    height: 90px;
    width: 70%;
    margin-left:1%;
    display:block;
    border: 1px solid yellow;
}

ul {
    border:1px solid red;
    height: 90px;
}
ul li {
    float: left;
    content:justify;
    width: 20%;
}

.lead-info-box{
    margin:15px auto;
    height: 56px;
    width: 110px;
    background-color:#007BFF;
    text-align: center;
}
.lead_value{

    padding-top:6px;
    color:white;
    font-size: 25px;
}

.lead_role{
    margin-top: 2px;
    font-size:13px;
    color: white;
}