
<ul class="lead-info">
    <li>
        <div class="lead-info-box">
            <div class="lead_value">
                {{totallead}}
                </div>
            <div class="lead_role">Totle Leals</div>

        </div>
    </li>

     <li>
        <div class="lead-info-box">
            <div class="lead_value">34</div>
            <div class="lead_role">new leads</div>

        </div>
    </li>

     <li>
        <div class="lead-info-box">
            <div class="lead_value">34</div>
            <div class="lead_role">new leads</div>

        </div>
    </li>

     <li>
        <div class="lead-info-box">
            <div class="lead_value">34</div>
            <div class="lead_role">new leads</div>

        </div>
    </li>

     <li>
        <div class="lead-info-box">
            <div class="lead_value">34</div>
            <div class="lead_role">new leads</div>

        </div>
    </li>
</ul>