:host{
  display: block;
  width: 700px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 10;
}
