:host{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  align-self: center;
  width: 50%;
  height: 70px;
  background-color: rgba(37,37,37,0.8);
  border-radius: 10px 10px 0 0;
  overflow-x: scroll;
  z-index: 1000;
}

#menu-hover{
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 5px;
  z-index: 1001;
}
