<h3 class="display-4">Potential</h3>
<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Edit</th>
      <th>Company</th>
      <th>Employees</th>
      <th>Rating</th>
      <th>Industry</th>
      <th>Tire</th>
      <th>Annual Revenue</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="checkbox"></th>
      <th><i class="fa fa-pencil"></i></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <i class="fa fa-ellipsis-h"></i>
      </td>
    </tr>
  </tbody>
</table>
